@import "../standard";

$bg: #E16D6C;

.frame{
    background: $bg;
    @include center();
    position: relative;
}

h1{
    color: $white;
    text-transform: uppercase;
    font-size: 3.5rem;

    &::before{
        content: 'collect';
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: 200;
    }

    &::after{
        content: 'not things';
        position: absolute;
        bottom: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        font-weight: 200;
    }
}
