@import "../standard";

$bg: #4CB6DE;
$hover: #286F8A;
$quote: #6AC2E3;

.frame{
    background: $bg;
}

.container{
    @include center(column);
    padding: 2rem;
    width: 100%;
    height: 100%;
    color: $white;

    blockquote{
        font-family: 'Lato', sans-serif;
        font-size: 1.5em;
        text-align: start;
        line-height: 2.6rem;
        z-index: 1;
        height:80%;
        width: 97%;

        .tooltip-container{
            position: relative;
            display: inline;
            cursor: pointer;
            background: $hover;
            padding: .3rem;
            margin: .3rem;

            .tooltip-text{
                position: absolute;
                top: -10rem;
                left: -5rem;
                width: 18rem;
                background: $hover;
                font-size: .9rem;
                line-height: 1.5rem;
                transition: all .3s ease-in-out;
                visibility: hidden;
                opacity: 0;

                &::after{
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $hover transparent transparent transparent;
                }

            }
            .tooltip-title{
                padding: .3rem;
                font-size: 1.1rem;
                background: $white;
                color: $hover;
                cursor: text;
                transition: all .3s ease-in-out;

                i{
                    font-size: 1rem;

                    &:hover{
                        color: $hover;
                        cursor: pointer;
                        scale: 1.2;
                        transition: all .3s ease-in-out;
                    }
                }
            }

            .tooltip-desc{
                padding: .5rem;

            }
        }

        .tooltip-container:hover .tooltip-text{
            opacity: 1;
            visibility: visible;
            transform: translateY(1.3rem);
            transition: all .3s ease-in-out;
        }
    }

    figcaption{
        font-size: 1.2rem;
        align-self: flex-start;
    }
}

.quote{
    position: absolute;
    padding: 0 2rem;

    &::before{
        display: block;
        position: absolute;
        top: -1rem;
        left: .5rem;
        content: "„";
        font-family: Arial;
        font-size: 15rem;
        color: $quote;
        line-height: 0rem;
    }
}