@import "../standard";

$bg: #4B4841;
$card-bg: #FFCE4E;
$street: #4B4841;

$cardW: 20rem;
$cardH: 12rem;
$card-radius: .5rem;
$time: cubic-bezier(.5, .1, .1, .1);

.frame{
    @include center();
    background: $bg;
}

.container-cards{
    width: $cardW;
    height: $cardH;
    perspective: 100rem; // responsável pelo efeito 3d

    &__card{
        @include center();
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d; // responsável pelo efeito nos dois lados do card
        transition: all 1s;

        .container-cards:hover &{
            transform: rotateX(180deg);
        }

        &__front,
        &__back{
            @include center();
            border-radius: $card-radius;
            background: $card-bg;
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            overflow: hidden;
        }

        &__front{
            @for $i from 0 through 9{
                .stripe-#{$i}{
                    width: random(10) * 3px;
                    position: absolute;
                    bottom: 3.5rem;
                    right: 0;
                    height: .2rem;
                    background: $street;
                    animation: roud (1 + random(2) /10) + s linear (random(10) / 10) +s infinite
                }
            }
        }

        &__back{
            transform: rotateX(180deg);

            img{
                animation: wind 1s $time infinite alternate;
                z-index: 333;
            }

            @for $i from 0 through 9{
                .cloud-#{$i}{
                    width: random(10) * .2rem;
                    position: absolute;
                    bottom: (2 + random(8) / 1) + rem;
                    right: 0;
                    height: .2rem;
                    background: $street;
                    animation: roud (1 + random(2) /10) + s linear (random(10) / 10) +s infinite
                }
            }
        }
    }
}

@keyframes roud{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-20rem);
    }
}

@keyframes wind{
    0%{
        transform: translate(0, .5rem);
    }
    100%{
        transform: translate(0, -.2rem);
    }
}