@import "../standard.scss";

$icon: #EC6565;

.container{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container-gallery{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin-top: .1rem;
	z-index: 999;

	&__item{
		position: relative;
		
		$map-item:(
			1: .3rem 0 0 0,
			2: 0 .3rem 0 0,
			3:  0 0 0 .3rem ,
			4: 0 0 .3rem 0
		);

		@each $child, $radius in $map-item{
			&:nth-child(#{$child}){
				img{
					border-radius: $radius;
				}
			}
		}

		&__caption{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 98%;
			background: rgba(0, 0, 0, 0.418);

			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			transition: all 0.5s ease-in-out;

			i{
				color: white;
				font-size: 1.5rem;
				background: $icon;
				padding: 1rem;
				border-radius: 50%;
				scale: 1.5;
			}

			&:hover{
				transition: all 0.5s ease-in-out;
				opacity: 1;
				cursor: pointer;
			}

			&:hover i{
				animation: icon-scale .5s ease-in-out forwards;
			}
		}
	}
}

.container-gallery__header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: url(https://100dayscss.com/codepen/13-1-header.jpg);
	border-radius: .3rem .3rem 0 0;
	transform: translateY(-100%);
	transition: all 0.5s ease-in-out;
	z-index: 9999;

	@include center();

	img{
		position: absolute;
		top: 75%;
		width: 5rem;
		height: 5rem;
		transform: translate(0%, -250%);
		border-radius: 50%;
		transition: all .8s ease-in-out;
		border: 2px solid  $white;;

		&.active{
			transform: translate(0%, 5%);
			transition: all .7s ease-in-out .3s;
		}
	}

	button{
		position: absolute;
		top: 1rem;
		right: 1rem;
		background: $icon;
		color: $white;
		border: none;
		transform: translate(0%, -140%);
		padding: .9rem 1.1rem;
		border-radius: 50%;
		cursor: pointer;
		transition: all .3s ease-in;

		&.active{
			transform: translate(0%, 20%);
			transition: all .9s ease-out .6s;
		}
	}

	&.active{
		transition: all 0.5s ease-in-out;
		transform: translateY(0);
	}
}

.container-gallery__footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60%;
	background: $icon;
	color: $white;
	border-radius: 0 0 .3rem .3rem;
	transform: translateY(100%);
	transition: all 0.5s ease-in-out;

	@include center(column);
	gap: 2rem;
	
	&.active{
		transition: all 0.5s ease-in-out;
		transform: translateY(0%);
		transition: all 0.5s ease-in-out;
	}

	&__redes{
		@include center(row);
		gap: 2rem;

		i{
			border: 1px solid $white;
			color: $white;
			padding: .8rem;
			border-radius: 50%;
		}
	}
}

@keyframes icon-scale{
	0%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(.7);
	}
}
