@import "../standard";

$bg: #57D895;
$bg-hover: #43b178;
$line: #45B078;
$line-border: .2rem solid $white;
$line-border-animation: .2rem solid $line;

$layout: (
    "button-width": 17rem,
    "circle-width": 4rem,
    "height": 4rem,
    "border-radius": 2rem,
    "font-size": 1.5rem,
    "upper-index": 99,
);

$svg: (
    "line-width": .2rem,
    "dasharray": 190,
    "dashoffset": 190,
    "dashoffset-animation": 0,
    "dashoffset-full": 500,
    "fill": none,
    "stroke": $white,
);


.frame{
    background: $bg;
    @include center();
}

.container{
    position: relative;

    input[type="checkbox"]{
        display: none;
    }

    &__label{
        @include center();
        @include position-absolute( 50%, 0, 0, 50%, -50%, -50% );

        //Modificações utilizando map
        font-size: map-get($layout, "font-size");
        width: map-get($layout, "button-width");
        border-radius: map-get($layout, "border-radius");
        height: map-get($layout, "height");
        z-index: map-get($layout, "upper-index");
        
        //modificação de variaveis
        color: $white;
        border: $line-border;

        //Modificações manual
        user-select: none;
        text-transform: uppercase;
        cursor: pointer;

        #toggle:checked + &{
            animation: hide  1s ease  forwards, fill 2s ease 1s forwards;
        }
    }

    &__img{
        @include position-absolute( 50%, 0, 0, 50%, -50%, -50% );
        border-radius: map-get($standard, "cicle-radius");
        
        opacity: 0;

        #toggle:checked + label & {
            animation: img 2s ease 1s forwards;
        }
    }

    &__circle{
        //border: 2px solid red;
        @include position-absolute( 50%, 0, 0, 50%,);
        transform: translate(-50%, -50%) rotate(-90deg);

        //Modificações utilizando map
        stroke-width: map-get($svg, "line-width");
        stroke-dasharray: map-get($svg, "dasharray");
        stroke-dashoffset: map-get($svg, "dashoffset");
        fill: map-get($svg, "fill");
        stroke: map-get($svg, "stroke");

        #toggle:checked ~ &{
            animation: circle  2s ease 1s forwards;
        }
    }
}

@keyframes img {
    100%{
        opacity: 1;
    }
}

@keyframes hide {
    100%{
        width: map-get($layout, "circle-width");
        border: $line-border-animation;
        font-size: 0;
    }
}

@keyframes circle {
	0% {
		stroke-dashoffset: map-get($svg, "dasharray");
        z-index: map-get($layout, "upper-index" );
	}
	50% {
		stroke-dashoffset: map-get($svg, "dashoffset-animation");
		stroke-dasharray: map-get($svg, "dasharray");
        z-index: map-get($layout, "upper-index" );
        
		transform:  translate(-50%,-50%)rotate(-90deg) scale(1);
		opacity: 1;
	}
	90%, 100% {
		stroke-dasharray: map-get($svg, "dashoffset-full")  ;
		transform: translate(-50%,-50%) rotate(-90deg) scale(2);
		opacity: 0;
	}
}

@keyframes fill {
	0% {
		background: transparent;
	}
	100% {
		background: $white;
	}
}

@keyframes back {
    100%{
        width: map-get($layout, "button-width");
    }
}