@import "../standard";

$green: #1ABC9C;
$blue: #3498DB;
$purple: #9B59B6;

$square: 25rem;
$transition: 0.5s ease-in-out;
$circle-trasn: 50%;

.container{
	@include center();
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.cont-move{
	@include center(row);
	transition: $transition;

	.cont-purple, .cont-blue, .cont-green{
		width: $square;
		height: $square;
		background: $purple;
		border-radius: .4rem;
	}

	.cont-purple{background: $purple;}
	.cont-blue{background: $blue;}
	.cont-green{background: $green;}
}

.radio{
	position: absolute;
	@include center(row);
	gap: .5rem;

	input[type="radio"]{
		width: 5rem;
		display: none;
	}

	.circleRadio{
		position: absolute;
		width: 2.5rem;
		height: 2.5rem;
		border-radius: $circle-trasn;
		background: $white;
		z-index: 999;
		transition: $transition;
	}

	.circle{
		@for $i from 1 through 3{
			&:nth-of-type(#{$i}){
				box-sizing: border-box;
				z-index: 5;
				width: 3.3rem;
				height: 3.3rem;
				border: 2px solid $white;
				border-radius: $circle-trasn;
				cursor: pointer;
			}
		}
	}
}