@import "../standard";

$bg: #2196F3;
$water: #1F8DE4;
$shadow: #1B7AC7;
$pointer: #FFCC30;

.frame{
    background: $bg;
    position: relative;
}

.water-map{
    border-radius: .5rem;
    width: 25rem;
    height: 25rem;
    fill: $water;
    position: absolute;
    z-index: 1;
    border: 2px solid red;
}

.marker{
    // border: 2px solid red;
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 999;
    font-size: 4rem;
    color: $pointer;
    animation: scale 2s ease-in-out infinite alternate;
}
.circle{
    // border: 2px solid red;
    fill: $shadow;
    position: absolute;
    top: 50%;
    left: 45%;
    animation: shadow 2s ease-in-out infinite alternate;
    scale: 1;
}



@keyframes scale {
	from {
		transform: translate3d(0,0,0);
	}
	to {
		transform: translate3d(0,-5px,0);
	}
}

@keyframes shadow {
	from {
		transform: scale(1) translate3d(0,0,0);
	}
	to {
		transform: scale(1.3) translate3d(0,0,0);
	}
}