@import "../standard";

$bg: #353535;
$light-grey: #aaa;
$grey: #eee;
$dark-grey: #ccc;
$black: #111;

$transition: fill .5s ease-in-out;
$size-bg: 15rem;
$sizeW-polygon: 10rem;
$sizeH-polygon: 8.5rem;
$size-line: 40rem;

.frame{
	@include center();
	position: relative;
	overflow: hidden;
}

.container{
	&__bg{
		@include center();
		width: $size-bg;
		height: $size-bg;
		background: $bg;
		z-index: 999;
		position: relative;
	}

	&__polygon{
		width: $sizeW-polygon;
		height: $sizeH-polygon;

		.light, .middle, .dark{
			transition: $transition;
		}

		.light{ fill: $light-grey;}
		.middle{ fill: $grey; }
		.dark{ fill: $dark-grey; }

		&:hover{
			.light{ fill: $grey; }
			.middle{ fill: $dark-grey; }
			.dark{ fill: $light-grey; }
		}
	}
}

.cont-lines{
	width: $size-line;
	height: $size-line;

	position: absolute;
	top: -7rem;
	left: -10rem;
	rotate: -45deg;
	animation: move 30s infinite alternate;

	@for $i from 1 through 26{
		.line-#{$i}{
			width: .2rem;
			height: 100%;
			background: $black;
			position: absolute;
			top: 0;
			left: 0;
			margin-left: 95% * ($i / 26);
		}
	}
}

@keyframes move{
	to{
		transform: translate(10%, 0);
	}
	from{
		transform: translate(0%, 0);
	}
}